@font-face {
    font-family: 'Circle-Light', sans-serif;
    src: url('../fonts/Circle-Light.woff') format(woff);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circle-Regular', sans-serif;
    src: url('../fonts/Circle-Regular.woff') format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circle-ExtraBold', sans-serif;
    src: url('../fonts/Circe-ExtraBold.woff') format(woff);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}